<table matSort (matSortChange)="sortData($event)">
  <thead>
    <tr>
      <th mat-sort-header="id">ID</th>
      <th mat-sort-header="name">Name</th>
      <th mat-sort-header="population">Population</th>
      <th mat-sort-header="continent">Continent</th>
      <th mat-sort-header="cities">Number of Cities</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let country of sortedCountries">
      <td>{{ country.id }}</td>
      <td><a [routerLink]="['/countries', country.id]">{{ country.name }}</a></td>
      <td>{{ country.population }}</td>
      <td>{{ country.continent }}</td>
      <td>{{ country.cities.length }}</td>
    </tr>
    <tr *ngIf="sortedCountries.length === 0">
      <td colspan="5">No countries found</td>
    </tr>
  </tbody>
</table>

<mat-card class="country-form-card">
  <form [formGroup]="countryForm" (ngSubmit)="onSubmit()" class="country-form">
    <mat-form-field appearance="fill" class="full-width">
      <mat-label>Name</mat-label>
      <input matInput type="text" formControlName="name" required>
    </mat-form-field>
    
    <mat-form-field appearance="fill" class="full-width">
      <mat-label>Population</mat-label>
      <input matInput type="number" formControlName="population" required>
    </mat-form-field>
    
    <mat-form-field appearance="fill" class="full-width">
      <mat-label>Continent</mat-label>
      <mat-select formControlName="continent" required>
        <mat-option *ngFor="let option of continentOptions" [value]="option">
          {{ Continent[option] }}
        </mat-option>
      </mat-select>
    </mat-form-field>

    <button mat-raised-button color="primary" type="submit" class="mat-button-base">
      Add Country
    </button>
  </form>
</mat-card>