a {
    text-decoration: none;
    color: #e0e0e0;
}

a:hover {
    text-decoration: underline;
    color: #64b5f6;
}

.country-form-card {
    max-width: 400px;
    margin: 20px auto;
    padding: 20px;
}

.country-form {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

button {
    width: auto;
    display: flex;
    justify-content: center;
    margin: auto;
}