<mat-sidenav-container class="sidenav-container">
  <mat-sidenav #drawer class="sidenav" fixedInViewport [attr.role]="(isHandset$ | async) ? 'dialog' : 'navigation'"
    [mode]="(isHandset$ | async) ? 'over' : 'side'" [opened]="(isHandset$ | async) === false">
    <mat-toolbar>Menu</mat-toolbar>
    <mat-nav-list *ngIf="authenticationService.isUserLoggedIn()">
      <a mat-list-item routerLink="/countries" class="nav-link" routerLinkActive="active-link">Countries</a>
      <a mat-list-item routerLink="/cities" class="nav-link" routerLinkActive="active-link">Cities</a>
      <a mat-list-item (click)="authenticationService.logout()" routerLink="/login" class="nav-link" routerLinkActive="active-link">Logout</a>
    </mat-nav-list>
  </mat-sidenav>
  <mat-sidenav-content>
    <mat-toolbar color="primary">
      @if (isHandset$ | async) {
      <button type="button" aria-label="Toggle sidenav" mat-icon-button (click)="drawer.toggle()">
        <mat-icon aria-label="Side nav toggle icon">menu</mat-icon>
      </button>
      }
      <span>{{ getNavigationText() }}</span>
    </mat-toolbar>
    <div class="router-outlet-container">
      <router-outlet></router-outlet>
    </div>
  </mat-sidenav-content>
</mat-sidenav-container>