<mat-progress-spinner *ngIf="!loaded" mode="indeterminate" style="display: inline-block; text-align: center; position: absolute; top: 50%; left: 50%; transform: translate(-50%, -50%);"></mat-progress-spinner>

<table *ngIf="sortedCities">
  <tr class="no-hover-highlight">
    <td style="border: none;">
      <div style="display: flex; justify-content: center; align-items: center;">
        <mat-card style="width: auto;">
          <mat-card-content>
            <table matSort (matSortChange)="sortData($event)">
              <thead>
                <tr>
                  <th mat-sort-header="id">ID</th>
                  <th mat-sort-header="name">Name</th>
                  <th mat-sort-header="population">Population</th>
                  <th mat-sort-header="countryId">Country ID</th>
                </tr>
              </thead>
              <tbody>
                <tr *ngFor="let city of sortedCities" [routerLink]="['/cities', city.id]" style="cursor: pointer;">
                  <td>{{ city.id }}</td>
                  <td>{{ city.name }}</td>
                  <td>{{ city.population }}</td>
                  <td>{{ city.countryId }}</td>
                </tr>
                <tr *ngIf="sortedCities.length === 0">
                  <td colspan="5">No cities found</td>
                </tr>
              </tbody>
            </table>
          </mat-card-content>
        </mat-card>
      </div>
    </td>
    <td style="border: none; vertical-align: top;">
      <div style="position: sticky; top: 70px;">
        <app-add-city></app-add-city>
      </div>
    </td>
  </tr>
</table>

<mat-card *ngIf="!sortedCities && loaded" style="display: inline-block; text-align: center; position: absolute; top: 50%; left: 50%; transform: translate(-50%, -50%);">
  <mat-card-content>
    <h2>Failed to fetch cities table from database.</h2>
  </mat-card-content>
</mat-card>