<form [formGroup]="countryForm" (ngSubmit)="onSubmit()">
  <div>
    <label for="name">Name: </label>
    <input type="text" id="name" formControlName="name">
  </div>
  <div>
    <label for="population">Population: </label>
    <input type="number" id="population" formControlName="population">
  </div>
  <div>
    <label for="continent">Continent: </label>
    <select id="continent" formControlName="continent">
      <option *ngFor="let option of continentOptions" [value]="option">{{ Continent[option] }}</option>
    </select>
  </div>
  <button type="submit">Add Country</button>
</form>
