label {
  font-weight: bold;
  margin-bottom: 10px;
  color: #7e57c2; /* deep purple */
}

input, select {
  padding: 5px;
  margin-bottom: 10px;
  background-color: #303030; /* dark grey */
  color: #e8eaf6; /* light purple */
  border: 1px solid #ddd;
}

button {
  padding: 10px 20px;
  background-color: #7e57c2; /* deep purple */
  color: #fff;
  border: none;
  cursor: pointer;
}

button:hover {
  background-color: #66bb6a; /* light green */
}