<mat-card class="city-form-card">
    <form [formGroup]="cityForm" (ngSubmit)="onSubmit()" class="city-form" autocomplete="off">
        <mat-form-field appearance="fill">
            <mat-label>Country ID</mat-label>
            <input matInput formControlName="id" type="number" readonly>
        </mat-form-field>

        <mat-form-field appearance="fill">
            <mat-label>Country Name</mat-label>
            <input matInput formControlName="name" autocomplete="off">
        </mat-form-field>

        <mat-form-field appearance="fill">
            <mat-label>Population</mat-label>
            <input matInput formControlName="population" type="number">
        </mat-form-field>

        <mat-form-field appearance="fill">
            <mat-label>Country</mat-label>
            <mat-select formControlName="countryId" required>
              <mat-option *ngFor="let country of countries" [value]="country.id">
                {{ country.name }}
              </mat-option>
            </mat-select>
            <mat-error *ngIf="cityForm.get('countryId')?.hasError('required') && cityForm.get('countryId')?.touched">
              Country is required.
            </mat-error>
          </mat-form-field>

        <button mat-raised-button color="primary" type="submit" [disabled]="loading || !cityForm.valid">Update City</button>
    </form>
</mat-card>