/* You can add global styles to this file, and also import other style files */
@import '@angular/material/prebuilt-themes/purple-green.css';

html,
body {
    height: 100%;
}

body {
    margin: 0;
    font-family: Roboto, "Helvetica Neue", sans-serif;
    background-color: #303030; /* dark grey */
    color: #e8eaf6; /* light purple */
}

h2 {
    font-size: 24px;
    font-weight: bold;
    color: #7e57c2; /* deep purple */
    text-transform: uppercase;
}

a {
    text-decoration: none;
    color: #7e57c2; /* deep purple */
    transition: color 0.4s ease-in-out;
}

a:hover {
    text-decoration: underline;
    color: #66bb6a; /* light green */
}

table {
    width: 100%;
    border-collapse: collapse;
    background-color: #303030; /* dark grey */
}

th, td {
    padding: 8px;
    text-align: left;
    border-bottom: 1px solid #ddd;
    color: #e8eaf6; /* light purple */
}
th {
    background-color: #424242; /* darker grey */
    color: #e8eaf6; /* light purple */
}

tr:hover {
    background-color: #424242; /* darker grey */
}