/* You can add global styles to this file, and also import other style files */
@import '@angular/material/prebuilt-themes/indigo-pink.css';

html,
body {
    height: 100%;
    margin-left: 5%;
    margin-right: 20%;
}

body {
    margin: 0;
    font-family: Roboto, "Helvetica Neue", sans-serif;
    background-color: #121212;
    color: #e0e0e0;
}

h2 {
    font-size: 24px;
    font-weight: bold;
    color: #333;
    text-transform: uppercase;
}

ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

li {
    margin-bottom: 10px;
    background-color: #f2f2f2;
    padding: 10px;
    border-radius: 5px;
}

a {
    text-decoration: none;
    color: blue;
    transition: color 0.4s ease-in-out;
}

a:hover {
    text-decoration: underline;
    color: lightseagreen;
}

table {
    width: 100%;
    border-collapse: collapse;
    background-color: #333;
}

th, td {
    padding: 8px;
    text-align: left;
    border-bottom: 1px solid #ddd;
    color: #e0e0e0;
}

tr:hover {
    background-color: #424242;
}