<div *ngIf="country">
  <div>
    <label>ID: </label>{{ country.id }}
  </div>
  <div>
    <label>Name: </label>{{ country.name }}
  </div>
  <div>
    <label>Population: </label>{{ country.population }}
  </div>
  <div>
    <label>Continent: </label>{{ country.continent }}
  </div>

  <h2>Cities</h2>
  <table matSort (matSortChange)="sortData($event)">
    <thead>
      <tr>
        <th mat-sort-header="id">ID</th>
        <th mat-sort-header="name">Name</th>
        <th mat-sort-header="population">Population</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let city of sortedCities">
        <td>{{ city.id }}</td>
        <td><a [routerLink]="['/cities', city.id]">{{ city.name }}</a></td>
        <td>{{ city.population }}</td>
      </tr>
      <tr *ngIf="sortedCities.length === 0">
        <td colspan="5">No cities found</td>
      </tr>
    </tbody>
  </table>
</div>