<table *ngIf="country">
  <tr class="no-hover-highlight">
    <td style="border: none; display: flex; justify-content: center; align-items: center;">
      <mat-card>
        <mat-card-content style="display: flex; flex-direction: column; align-items: center; justify-content: center;">
          <div style="display: inline-block;">
            <table class="darker-hover-highlight" style="border: none; background-color: #424242;">
              <tr>
                <td style="border: none; text-align: right;"><label>ID: </label></td>
                <td style="border: none;">{{ country.id }}</td>
              </tr>
              <tr>
                <td style="border: none; text-align: right;"><label>Name: </label></td>
                <td style="border: none;">{{ country.name }}</td>
              </tr>
              <tr>
                <td style="border: none; text-align: right;"><label>Population: </label></td>
                <td style="border: none;">{{ country.population }}</td>
              </tr>
              <tr>
                <td style="border: none; text-align: right;"><label>Continent: </label></td>
                <td style="border: none;">{{ country.continent }}</td>
              </tr>
            </table>
          </div>

          <h2>Cities</h2>
          <div style="display: inline-block;">
            <table matSort (matSortChange)="sortData($event)">
              <thead>
                <tr>
                  <th mat-sort-header="id">ID</th>
                  <th mat-sort-header="name">Name</th>
                  <th mat-sort-header="population">Population</th>
                </tr>
              </thead>
              <tbody>
                <tr *ngFor="let city of sortedCities">
                  <td>{{ city.id }}</td>
                  <td><a [routerLink]="['/cities', city.id]">{{ city.name }}</a></td>
                  <td>{{ city.population }}</td>
                </tr>
                <tr *ngIf="sortedCities.length === 0">
                  <td colspan="5">No cities found</td>
                </tr>
              </tbody>
            </table>
          </div>

        </mat-card-content>
      </mat-card>
    </td>
    <td style="border: none; text-align: center; vertical-align: top;">
      <div *ngIf="country" style="position: sticky; top: 70px;">
        <h2>Add new city</h2>
        <app-add-city-to-country [countryId]="country.id"></app-add-city-to-country>
      </div>
    </td>
    <td style="border: none; text-align: center; vertical-align: top;">
      <div *ngIf="country" style="position: sticky; top: 70px;">
        <h2>Update Country</h2>
        <app-update-country [countryId]="country.id"></app-update-country>
        <app-delete-country [countryId]="country.id"></app-delete-country>
      </div>
    </td>
  </tr>
</table>

<mat-card *ngIf="!country && loaded" style="display: inline-block; text-align: center; position: absolute; top: 50%; left: 50%; transform: translate(-50%, -50%);">
  <mat-card-content>
    <h2>Country not found in the database with the specified ID.</h2>
  </mat-card-content>
</mat-card>